name: Deploy Dev
run-name: Deploying to Dev Environment

on:
  workflow_dispatch:
    inputs:
      ref:
        type: string
        description: "Branch or tag"
        required: false
        default: "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  projects:
    name: Read projects.json for matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ inputs.ref }}

      - id: set-matrix
        run: |
          content=$(cat ./.github/projects.json | jq -R)
          # the following lines are only required for multi line json
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          # end of optional handling for multi line json
          echo "matrix=$content" >> $GITHUB_OUTPUT

  verify:
    name: Verify OUTPUT
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ inputs.ref }}

      - run: echo "${{ needs.projects.outputs.matrix }}"
    needs: projects

  deploy:
    name: Deploy
    uses: ./.github/workflows/reusable.yml
    strategy:
      fail-fast: true
      matrix: ${{ fromJSON(needs.projects.outputs.matrix) }}
    with:
      env-code: ${{ matrix.env-code }}
      rg-suffix: ${{ matrix.rg-suffix }}
      project-name: ${{ matrix.name }}
      project-path: ${{ matrix.path }}
      project-type: ${{ matrix.type }}
      skip: ${{ matrix.skip }}
      slot: slot
      ref: ${{ inputs.ref }}
    needs: projects
    secrets: inherit
