name: Reusable Workflow
run-name: Deploying ${{ inputs.project-name }} to ${{ inputs.rg-suffix }}

on:
  workflow_call:
    inputs:
      project-name:
        type: string
        description: "Name of the project to deploy"
        required: true
      project-path:
        type: string
        description: "Path to the project to deploy"
        required: true
      project-type:
        type: string
        description: "Type of the project to deploy"
        required: false
        default: "functionapp"
      skip:
        type: boolean
        description: "Skip deployment"
        required: false
        default: false
      rg-suffix:
        type: string
        description: "Suffix for the resource group"
        required: true
      env-code:
        type: string
        description: "Environment code"
        required: true
      slot:
        type: string
        description: "Slot to deploy to"
        required: false
      ref:
        type: string
        description: "Branch or tag"
        required: false
        default: "main"

jobs:
  reusable:
    name: Reusable Job
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ inputs.ref }}

      - if: inputs.project-type == "functionapp"
        name: ${{ inputs.project-name }}
        run: |
          echo "Deploying FunctionApp ${{ inputs.project-name }} - ${{ inputs.project-path }} - ${{ inputs.project-type }} - ${{ inputs.env-code }}"

      - if: inputs.project-type == "webapp"
        name: ${{ inputs.project-name }}
        run: |
          echo "Deploying WebApp ${{ inputs.project-name }} - ${{ inputs.project-path }} - ${{ inputs.project-type }} - ${{ inputs.env-code }}"
